/* Navbar Styles */
.navbar {
    background-color: rgb(111, 8, 89);
}

.navbar-brand, .nav-link {
    color: white !important;
}

.nav-link:hover {
    color: lightgray !important;
}

/* Card Styles */
.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid rgb(9, 75, 97);
    background-color: rgb(237, 243, 147);
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image-wrapper {
    position: relative;
}

.like-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color: white; /* Default color */
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.like-button.red {
    color: red; /* Color when liked */
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-subtitle {
    font-size: 1rem;
    color: #6c757d;
}

.card-text {
    flex-grow: 1;
    text-align: justify;
}

.btn-primary {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/* Inbox Styles */
.list-group-item {
    background-color: palegoldenrod;
    border: 1px solid lightblue;
    color: #333;
}

.list-group-item:hover {
    background-color: lightblue;
}
